root {
	display: block;
}

.root {
	-fx-background-color: #555555;
}

#menuBar {
	-fx-background-color: #969696;
}

.button {
	-fx-background-color: gainsboro;
}

.button:hover {
	-fx-background-color: whitesmoke;
}

.button:pressed {
	-fx-background-color: grey;
}

.methodBox {
	-fx-background-color: black;
}

#preArea {
	-fx-control-inner-background: dimgrey;
	-fx-text-fill: white;
}

#postArea {
	-fx-control-inner-background: dimgrey;
	-fx-text-fill: white;
}